*{  padding: 0;
    box-sizing: none;
    text-decoration: none;
    margin-right: 5px;
}

/* mouse over link */

.wrapper .sidebar ul a{
    background: orangered;
}

/* selected link */
a:active {
    color: darkorange;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 23%;
    height: 100%;
    background:orange;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    color: white;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
}



.col-sm-10 .main-container{
    margin-right: 0;
    position: fixed;
    height: 100%;
    width: 80%;
    background:#f3a21d;
    padding: 30px 0;
    
}