*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    text-decoration: none;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 24%;
    height: 100%;
    background: orange;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
}

.wrapper .sidebar ul li:hover{
    background: yellow;
}

.col-sm-10 .main-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background:#f3a21d;
    padding: 30px 0;
    
}